* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

/* Header */

header.main-header {
  background-color: white;
  box-shadow: 5px 0px 20px lightgray;
  width: 100vw;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 10px 20px;
  cursor: pointer;
}

.branding .brand-logo img {
  width: 2rem;
  height: 2rem;
}

.branding .brand-name {
  font-size: 1.5rem;
  padding-left: 5px;
}

.nav-menu {
  flex-grow: 1;
  flex-shrink: 1;
  align-self: flex-end;
  display: flex;
  padding: 20px 10px;
  flex-wrap: wrap;
}

.nav-list {
  display: flex;
  height: auto;
  list-style: none;
  justify-content: space-evenly;
}

.nav-list .nav-item {
  margin: 2px;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 2rem;
  transition: background-color ease 0.4s;
  cursor: pointer;
}

.nav-list .nav-item a {
  text-decoration: none;
  color: black;
}

.nav-list .nav-item:hover {
  background-color: lightgray;
}

.nav-item.active {
  background-color: lightgray;
}

.nav-item #categories {
  margin-left: 10px;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 2px 2px 2px gray;
}

.user {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  padding: 5px;
  padding-right: 25px;
}

.user .user-profilepic img {
  border-radius: 50%;
  box-shadow: 1px 1px 5px black;
}

.user .username {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user .username .login-button {
  border: 3px solid #28a745;
  align-self: flex-start;
  border-radius: 10px;
  background-color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 5px;
  color: #28a745;
  transition: all ease-out 0.5s;
}

.user .username .login-button:hover {
  border: 4px solid #3ece5f;
  color: #3ece5f;
  font-size: 1.1rem;
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
  header.main-header {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .nav-menu {
    justify-content: space-around;
    padding: 0;
    order: 1;
  }

  .nav-list .nav-item {
    padding: 10px;
  }
  .user {
    transform: scale(80%);
  }
}
/* IPad Tablets */
@media screen and (min-width: 481px) and (max-width: 686px) {
  header.main-header {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .nav-menu {
    justify-content: space-around;
    padding: 0;
    order: 1;
  }
  .branding {
    padding: 7px 15px;
  }

  .nav-list .nav-item {
    padding: 10px;
    flex-wrap: wrap;
  }
  .user {
    transform: scale(80%);
  }
}

@media screen and (min-width: 687px) and (max-width: 780px) {
  header.main-header {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .nav-menu {
    justify-content: space-around;
  }
  .branding {
    padding: 7px 15px;
  }

  .nav-list .nav-item {
    padding: 10px;
    flex-wrap: wrap;
  }
  .user {
    transform: scale(80%);
  }
}
